<div class="form-group">
    <p><%= display_name %></p>
    <% for (var i = 0; i < values.length; ++i) { %>
    <div class="radio">
        <label><input type="radio" name="<%= name %>" value="<%= values[i].value %>"><%= values[i].label %></label>
    </div>
    <% } %>
</div>